<div class="isolate px-6 py-10 sm:py-20 lg:px-8">
    <mat-card>
        <mat-card-content>
            <div class="table-container">
                <table class="classic-table">
                    <tr>
                      <th>ID:</th>
                      <td>{{detailsCars.id}}</td>
                    </tr>
                    <tr>
                      <th>Brand:</th>
                      <td>{{detailsCars.brand}}</td>
                    </tr>
                    <tr>
                      <th>Model:</th>
                      <td>{{detailsCars.model}}</td>
                    </tr>
                    <tr>
                      <th>Year:</th>
                      <td>{{detailsCars.year}}</td>
                    </tr>
                  </table>
            </div>
        </mat-card-content>
    </mat-card>

</div>





